#wpcontent{
    padding: 0;
}
#container{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
}

#admin-sidebar-tools{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    min-width: 250px;
    max-width: 300px;
}

.tools-instance{
    display: inline-flex;
}

menu_button{
    margin-top: 5%;
    max-width: 60px;
    max-height: 30px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(105, 51, 153, 0.8);
    color: black;
    font-weight: normal;
    font-family: Alef;
}